/*  the whole page is centered
    since everything is within the div 'container' has the auto margins*/

#container {
    width:     800px;
    background-color: #FF9027;
    margin-left: auto;
    margin-right: auto;
    color: ;
    padding: 250px;
}

#header {
    background-color:#FFFA50;
    text-align: center;
}

#menu {
    width:     500px;
    background-color:  gray;
    margin-left:   20px;
     padding: 10px;
}

/*This is an extra style element that will change all 'a href' tags to the values below*/
a {
    font-size:  24px;
    text-decoration: none;
    color: #013FF8;
}
a:hover {
    color: black;
    text-decoration: none;
}